@font-face {
  font-family: Zpix;
  src: url('./assets/fonts/zpix.ttf') format('truetype');
}

.zpix-font {
  font-family: Zpix, sans-serif;
}

html {
  overflow: hidden
}

body {
  font-family: 'Press Start 2P', 'Nanum Gothic', sans-serif;
  background-image: url('./assets/setting/clouds.png');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#cockpit_door,
#exploration_door {
  visibility: hidden;
}

.grid {
  display: grid;
  grid-template-rows: repeat(8, 64px); 
  grid-template-columns: repeat(9, 64px);
  background-color: transparent;
  width: fit-content;
  margin: auto;
  
}

.wall {
  background-color: #5d5d5d;
  width: 100%;
  height: 64px;
  
}

.wall-bottom {
  border-bottom: 2px solid rgb(41 41 41);
}

#game-container {
  display: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#plane {
  display: grid;
  grid-template-rows: repeat(8, 64px); 
  grid-template-columns: repeat(9, 64px); 
  background-color: #4A4A4A;
  border: 10px solid #333;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
  transform: scale(1.5);
  transform-origin: center;
}


#plane-container {
  margin-top: 25vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat {
  background-image: url('./assets/setting/airplane chair.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
}

.seat2 {
  background-image: url('./assets/setting/airplane chair 2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
}


.upper_door {
  background-color: #6e6d6d;
  width: 64px;
  height: 64px;
}

.cockpit-text {
  font-family: "Press Start 2P", serif;
  font-size: 9.2px;
  font-weight: bold;
  color: #fff;
  z-index: 11;
  height: 15px;
  background-color: rgb(227 1 1);
}


.lower_door {
  background-color: black;
  width: 64px;
  height: 10px;
}

.airplane_logo {
  background-image: url('./assets/setting/airplane_logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated; 
  width: 64px;
  height: 30px;
  transform: scale(4) translateY(38%) translateX(10%);
  background-color: #5d5d5d;
}

.floor {
  width: 64px;
  height: 64px;
  background-color: #4A4A4A; 
}

.aisle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #7B2D26; 
  width: 64px; 
  height: 64px; 
}

.stewardess1 {
  width: 64px;
  height: 64px;
  background-image: url('./assets/characters/stewardess.png');
  background-size: auto;
  animation: idleAnimationDown 1s steps(2) infinite;
  transform: scale(1.5) translateY(-40%);
  background-color: transparent;
  image-rendering: pixelated;
  background-repeat: no-repeat; 
}

.stewardess2 {
  width: 64px;
  height: 64px;
  background-image: url('./assets/characters/stewardess_2.png');
  background-size: auto;
  animation: idleAnimationDown 1s steps(2) infinite;
  transform: scale(1.5) translateY(-40%);
  background-color: transparent;
  image-rendering: pixelated;
  background-repeat: no-repeat; 
}

.pilot {
  width: 64px;
  height: 64px;
  background-image: url('./assets/characters/pilot.png');
  background-size: auto;
  animation: idleAnimationLeft 1s steps(2) infinite;
  transform: scale(1.5) translateY(-40%);
  background-color: transparent;
  image-rendering: pixelated;
  background-repeat: no-repeat; 
}

.player {
  width: 64px;
  height: 64px;
  background-image: url('./assets/characters/main_character.png');
  background-size: auto;
  background-position: 0 -1536px;
  animation: idleAnimationDown 1s steps(2) infinite;
  transform: scale(1.5) translateY(-40%);
  background-color: transparent;
  image-rendering: pixelated;
  background-repeat: no-repeat; 
  z-index: 100;
}

.player.moving-up {
  animation: moveUp 0.8s steps(4) forwards;
}

.player.moving-left {
  animation: moveLeft 0.8s steps(4) forwards;
}

.player.moving-down {
  animation: moveDown 0.8s steps(4) forwards;
}

.player.moving-right {
  animation: moveRight 0.8s steps(4) forwards;
}


@keyframes idleAnimationDown {
  0% {
    background-position: 0 -1536px;
  }

  100% {
    background-position: -128px -1536px;
  }
}

@keyframes idleAnimationLeft {
  0% {
    background-position: 0 -1472px;
  }

  100% {
    background-position: -128px -1472px;
  }
}

@keyframes idleAnimationUp {
  0% {
    background-position: 0 -1408px;
  }

  100% {
    background-position: -128px -1408px;
  }
}

@keyframes idleAnimationRight {
  0% {
    background-position: 0 -1600px;
  }

  100% {
    background-position: -128px -1600px;
  }
}


@keyframes moveUp {
  0% {
    background-position: 0 -512px;
  }

  100% {
    background-position: -576px -512px;
  }
}

@keyframes moveLeft {
  0% {
    background-position: 0 -576px;
  }

  100% {
    background-position: -576px -576px;
  }
}

@keyframes moveDown {
  0% {
    background-position: 0 -640px;
  }

  100% {
    background-position: -576px -640px;
  }
}

@keyframes moveRight {
  0% {
    background-position: 0 -704px;
  }

  100% {
    background-position: -576px -704px;
  }
}

#dialog-box.hidden {
  display: none;
}

#dialog-box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: rgb(0 0 0 / 90%);
  border-top: 2px solid white;
  padding: 1vh 2vw;
  color: white;
  font-family: zpix, serif;
  font-size: 1.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 20%;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  z-index: 2000;
}

#dialog-name {
  font-weight: bold;
  font-size: 4vh;
  margin-bottom: 1vh;
}

#dialog-text {
  font-size: 2vh;
  margin-bottom: 1vh;
}

#dialog-responses {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  z-index: 1100;
  max-width: calc(100% - 20px);
}

#dialog-responses ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#dialog-responses li {
  font-family: zpix, serif;
  font-size: 2vh;
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}

#dialog-responses li.selected {
  color: yellow;
  font-size: 2.5vh;
}

#popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  max-width: 70%;
  background-color: #ffe680;
  border: 4px solid #000;
  box-shadow: 0 0 8px rgb(0 0 0 / 80%);
  font-family: 'Press Start 2P', serif;
  font-size: 14px;
  color: #000;
  text-align: left;
  z-index: 1100;
  padding: 20px;
  image-rendering: pixelated;
  max-height: 90vh;
}

#popup-box .popup-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  color: #333;
}

#popup-box .popup-content {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  flex-grow: 1;
  gap: 10px;
}

#popup-box .popup-text {
  flex-grow: 1;
  font-size: 14px;
  line-height: 1.8;
  color: #222;
  overflow-wrap: break-word;
}

#popup-box .popup-image {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  overflow: hidden;
}

#popup-box .popup-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#popup-box .popup-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 35px;
  height: 35px;
  background-color: #000;
  color: #fff;
  font-family: 'Press Start 2P', serif;
  font-size: 16px;
  text-align: center;
  line-height: 35px;
  border: 2px solid #fff;
  cursor: pointer;
  text-transform: uppercase;
}

#popup-box .popup-close:hover {
  background-color: #f00;
}

#transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

#transition-overlay.fade-in {
  opacity: 1;
}

#transition-overlay.fade-out {
  opacity: 0;
}

#transition-overlay .text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-family: zpix, sans-serif;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#transition-overlay.fade-in .text-container {
  opacity: 1;
}

#transition-overlay.fade-out .text-container {
  opacity: 0;
}


#game-info {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
  font-family: zpix, sans-serif;
  background: rgb(0 0 0 / 60%); 
  padding: 10px;
  border-radius: 5px;
  z-index: 101;
}

#game-info div {
  margin-bottom: 5px;
}

#game-container {
  display: none;
}

.hidden {
  display: none !important;
}

#menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 1%;
  margin-right: 1%;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  background-color: transparent;
  border: none;
  z-index: 1000;
  transform: scale(4);
}

#menu-button:hover {
  color: #555;
}

#menu-popup {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: rgb(255 255 255 / 90%);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  z-index: 1000;
}

#menu-popup .corner-button {
  margin: 5px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
  font-family: Zpix, sans-serif;
}

#menu-popup .corner-button:hover {
  background-color: #e0e0e0;
}
